%a{href: "#1"}
  %img.c-bg.__light{src: "/assets/images/blank.gif", width: 130, height: 90, alt: "Кожаный ремешок"}
  %strong Кожаный ремешок
  %br
  Misfit для фитнес-трекера
  %br
  Misfit Shine
  %br
  %span.format-money.__rub 2190