.sport-promo
  .sport-promo_carousel
    .sport-promo_carousel_i
      %img{src: "/assets/images/restore/promo-sport-1.jpg", width: 980, height: 430, alt: "Для активного образа жизни"}
      %article.sport-promo_carousel_i_tx
        %p Для активного<br>образа жизни
        %ul
          %li Трекеры
          %li Мониторы
          %li Браслеты
    .sport-promo_carousel_i
      %img{src: "/assets/images/restore/promo-sport-2.jpg", width: 980, height: 430, alt: "Для веломанов"}
      %article.sport-promo_carousel_i_tx
        %p Для веломанов
        %ul
          %li Трекеры
          %li Мониторы
          %li Браслеты
    .sport-promo_carousel_i
      %img{src: "/assets/images/restore/promo-sport-3.jpg", width: 980, height: 430, alt: "Для экстремалов"}
      %article.sport-promo_carousel_i_tx
        %p Для экстремалов
        %ul
          %li Трекеры
          %li Мониторы
          %li Браслеты
    .sport-promo_carousel_i
      %img{src: "/assets/images/restore/promo-sport-4.jpg", width: 980, height: 430, alt: "Технологии на страже здоровья"}
      %article.sport-promo_carousel_i_tx
        %p Технологии<br>на&nbsp;страже здоровья
        %ul
          %li Трекеры
          %li Мониторы
          %li Браслеты

  .sport-promo_controls
    
    %article.sport-nav-block.__current>
      %header.sport-nav-block_header{data: {item: 0}}
        %p 
          %i.ico.__44.__clock
          %span Для активного<br>образа жизни
      %a{href: "#lifestyle", data: {scroll: "true"}}
        %img.va-t{src: "/assets/images/restore/sport-nav-block-1.jpg", width: 228, height: 160, alt: "Для активного образа жизни"}
      %footer.sport-nav-block_footer
        %a{href: "#lifestyle"} Перейти к каталогу
    
    %article.sport-nav-block>
      %header.sport-nav-block_header{data: {item: 1}}
        %p 
          %i.ico.__44.__bicycle
          %span Для веломанов
      %a{href: "#bicycle", data: {scroll: "true"}}
        %img.va-t{src: "/assets/images/restore/sport-nav-block-2.jpg", width: 228, height: 160, alt: "Для веломанов"}
      %footer.sport-nav-block_footer
        %a{href: "#bicycle"} Перейти к каталогу
    
    %article.sport-nav-block>
      %header.sport-nav-block_header{data: {item: 2}}
        %p
          %i.ico.__44.__lightning
          %span Для экстремалов
      %a{href: "#extrime", data: {scroll: "true"}}
        %img.va-t{src: "/assets/images/restore/sport-nav-block-3.jpg", width: 228, height: 160, alt: "Для экстремалов"}
      %footer.sport-nav-block_footer
        %a{href: "#extrime"} Перейти к каталогу
    
    %article.sport-nav-block>
      %header.sport-nav-block_header{data: {item: 3}}
        %p
          %i.ico.__44.__pulse
          %span Технологии<br>на страже здоровья
      %a{href: "#pulse", data: {scroll: "true"}}
        %img.va-t{src: "/assets/images/restore/sport-nav-block-4.jpg", width: 228, height: 160, alt: "Технологии на страже здоровья"}
      %footer.sport-nav-block_footer
        %a{href: "#pulse"} Перейти к каталогу