!!!
%html.no-js{lang: "ru-RU"}
  %head
    %title Demo / Friends
    = Haml::Engine.new(File.read('views/layouts/_head.haml')).render
    :css
      .demo {margin-left: 6rem;}
      .demo li:not(:last-child) {margin-bottom: 1rem;}
      .demo ol {counter-reset: list;}
      .demo ol li {position: relative;}
      .demo ol li::before {
        counter-increment: list;
        content: counter(list) ".";
        position: absolute;
        top: 0;
        right: 100%;
        margin-right: .5rem;
        color: #ccc;
      }
  
  %body#page.page
    %main#main.main{role: "main"}
      %section{role: "region", "aria-label" => "Demo"}
        .ctn.p-t_8.p-b_8
          %article
            
            %header.m-b_4
              %a{href: "/index.html"}
                %img.va-t{src: "/assets/images/logo.png", width: 174, height: 45, alt: "Friends"}

            %nav.demo
              %ol
                %li.m-b_2
                  %a{href: "/ui.html"} UI

                %li.m-b_2
                  %a{href: "/index.html"} Главная

                %li
                  %a{href: "/apps_index.html"} Приложения
                %li.m-b_2
                  %a.tx.__muted{href: "/apps_show.html"} Приложения - просмотр

                %li
                  %a{href: "/reviews_index.html"} Обзоры товаров
                %li
                  %a{href: "/reviews_feed.html"} Обзоры товаров - лента
                %li.m-b_2
                  %a.tx.__muted{href: "/reviews_show.html"} Обзоры товаров - просмотр

                %li
                  %a.tx.__muted{href: "/recommendations_index_logout.html"} Рекомендации (нет регистрации)
                %li
                  %a.tx.__muted{href: "/recommendations_index_login.html"} Рекомендации (есть регистрация)
                %li
                  %a.tx.__muted{href: "/recommendations_feed.html"} Рекомендации - лента
                %li.m-b_2
                  %a.tx.__muted{href: "/recommendations_show.html"} Рекомендации - просмотр

                %li
                  %a{href: "/videos_index.html"} Видео
                %li
                  %a{href: "/videos_catalog.html"} Видео - каталог
                %li
                  %a{href: "/videos_feed.html"} Видео - лента
                %li
                  %a.tx.__muted{href: "/videos_show.html"} Видео - просмотр