%aside#sidebar.sidebar
  %nav{role: "navigation"}
    %ul.nav
      %li.nav_i
        %a.nav_i_a.__current{href: "/friends_index.html"} Главная
      %li.nav_i
        %a.nav_i_a{href: "/friends_apps_index.html"} Приложения
      %li.nav_i
        %a.nav_i_a{href: "/friends_reviews_index.html"} Обзоры товаров
      %li.nav_i
        %a.nav_i_a{href: "/friends_contests_index.html"} Конкурсы
      %li.nav_i
        %a.nav_i_a{href: "/friends_recommendations_index.html"} Рекомендации
      %li.nav_i
        %a.nav_i_a{href: "/friends_videos_index.html"} Видеоролики
      %li.nav_i
        %a.nav_i_a{href: "#"} FAQ