%header#header.header{role: "banner"}
  .ctn
    .grid
      .grid-i.__grid-3.va-m>
        .header_logo
          %a{href: "/friends_index.html"}
            %img.va-t{src: "/assets/images/friends/logo.png", width: 140, height: 40, alt: "Friends"}
      .grid-i.__grid-9.va-m>
        .filter
          .grid
            .grid-i.__grid-5.__suffix-1>
              %form.form
                .form-el.__select.__fake>
                  %p &nbsp;
                  %select.form-el.__select.__real
                    %option{selected: "selected"} Все устройства
                    %option iPad
                    %option iPhone
                    %option iPod
                .form-el.__select.__fake
                  %p &nbsp;
                  %select.form-el.__select.__real
                    %option{selected: "selected"} Все типы
                    %option iPad
                    %option iPhone
                    %option iPod
            .grid-i.__grid-3>
              %form.search
                %input.form-el.__tx.__block{type: "text", placeholder: "Поиск"}
                %button.search_btn{type: "submit"}
                  %i.ico.__18.__search