%header#header.header{role: "banner"}
  .ctn
    .grid
      .grid-i.__grid-3>
        .header_logo
          %a{href: "/"}
            %img.va-t{src: "/assets/images/logo.png", width: 174, height: 45, alt: "Friends"}
      .grid-i.__grid-9>
        .header_filter