%aside#sidebar.sidebar
  %nav{role: "navigation"}
    %ul.nav
      %li.nav_i
        %a.nav_i_a.__current{href: "/"} Главная
      %li.nav_i
        %a.nav_i_a{href: "/apps_index.html"} Приложения
      %li.nav_i
        %a.nav_i_a{href: "/reviews_index.html"} Обзоры товаров
      %li.nav_i
        %a.nav_i_a{href: "#"} Конкурсы
      %li.nav_i
        %a.nav_i_a{href: "/recommendations_index_logout.html"} Рекомендации
      %li.nav_i
        %a.nav_i_a{href: "/videos_index.html"} Видеоролики
      %li.nav_i
        %a.nav_i_a{href: "#"} FAQ