%aside#sidebar.sidebar
  %nav{role: "navigation"}
    %ul.nav
      %li.nav_i
        %a.nav_i_a.__current{href: "#"} Главная
      %li.nav_i
        %a.nav_i_a{href: "#"} Приложения
      %li.nav_i
        %a.nav_i_a{href: "#"} Обзоры товаров
      %li.nav_i
        %a.nav_i_a{href: "#"} Конкурсы
      %li.nav_i
        %a.nav_i_a{href: "#"} Рекомендации
      %li.nav_i
        %a.nav_i_a{href: "#"} Видеоролики
      %li.nav_i
        %a.nav_i_a{href: "#"} FAQ