/* Style */
.b-center {
  margin-right: auto;
  margin-left: auto;
}

.tx.__center {text-align: center;}

/* Links */
.a.__pseudo {
  text-decoration: none;
  border-bottom: 1px dotted #ff208a;
}

/* Clearfix */
.cf::after {
  display: table;
  clear: both;
  content: "";
}

/* Indent */
.m-b_2 {margin-bottom: 20px !important;}



/****************************************************************************************************
//
// .. News
//
*****************************************************************************************************/
.show-news {
  height: 28px;
  border: 1px solid #ff208a;
  border-radius: 4px;
  color: #ff208a;
  line-height: 28px;
  text-decoration: none;
  display: block;
  font-size: 12px;
  text-align: center;
  margin-top: 30px;
}



/****************************************************************************************************
//
// .. UI
//
*****************************************************************************************************/
/* jQuery ui select menu */
.ui-selectmenu {
  overflow: visible !important;
}

/* UI Send to */
.ui-send-to {
  vertical-align: top;
}