.item.__promo
  .item_controls
    %a.ico.__30.__square.__play{href: "#"}
    %a.ico.__30.__square.__bookmark{href: "#"}
  .grid
    .grid-i.__grid-5>
      %a{href: "/apps_show.html"}
        %img.va-t.c-bg.__light{src: "/assets/images/blank.gif", width: 370, height: 320, alt: "Рецензия на вторую часть культовой игры Cut the Rope"}
    .grid-i.__grid-4>
      .m-b_1
        %p.tx.__s 21.01.2014 | Александр Рипонен
      .m-b_1
        %h2 
          %a{href: "/apps_show.html"} Рецензия на&nbsp;вторую часть культовой игры Cut the Rope
      .m-b_2
        %p Цель игры&nbsp;&mdash; помочь маленькому зелёному существу неизвестного происхождения АмНяму добраться до&nbsp;желанного леденца. При этом АмНям всегда находится в&nbsp;определённом месте на&nbsp;экране и&nbsp;не&nbsp;может самостоятельно передвигаться.
      %nav
        %ul.item_tags
          %li.item_tags_i
            %a.item_tags_i_a{href: "#"} iPhone
          %li.item_tags_i
            %a.item_tags_i_a{href: "#"} iPad
          %li.item_tags_i
            %a.item_tags_i_a{href: "#"} iPod
          %li.item_tags_i
            %a.item_tags_i_a{href: "#"} iOs