%article.promo.__apps
  %header.promo_h Приложение
  %p.m-b_2
    Выбор приложений в&nbsp;Appstore на&nbsp;столько
    %br
    огроменн, что в&nbsp;нем с&nbsp;легкостью можно 
    %br
    потеряться. 
  %p
    В&nbsp;этом разделе мы&nbsp;расскажем о&nbsp;самых
    %br
    интересных и&nbsp;необычных приложениях уже
    %br
    доступныхдля скачивания, или&nbsp;же только 
    %br
    готовящихся к&nbsp;выходу.