.item.__promo
  .item_controls
    %a.ico.__30.__square.__play{href: "#"}
    %a.ico.__30.__square.__bookmark{href: "#"}
  .grid
    .grid-i.__grid-4>
      %a{href: "/apps_show.html"}
        %img.va-t.c-bg.__light{src: "/assets/images/blank.gif", width: 292, height: 292, alt: "Рецензия на вторую часть культовой игры Cut the Rope"}
    .grid-i.__grid-5>
      .m-b_1
        %p.tx.__s 21.01.2014 | Александр Рипонен
      .m-b_1
        %h2 
          %a{href: "/apps_show.html"} Jetpack Joyride: бесконечный драйв реактивного ранца
      .m-b_2
        %p Сюжетная завязка Jetpack Joyride проста до&nbsp;невозможности. Совершенно обычный мужчина средних лет, проходя мимо сверхсекретной лаборатории, увешанной с&nbsp;фундамента и&nbsp;до&nbsp;крыши неоновыми вывесками, замечает готовящийся к&nbsp;запуску джетпак.
      %nav
        %ul.item_tags
          %li.item_tags_i
            %a.item_tags_i_a{href: "#"} iPhone
          %li.item_tags_i
            %a.item_tags_i_a{href: "#"} iPad
          %li.item_tags_i
            %a.item_tags_i_a{href: "#"} iPod
          %li.item_tags_i
            %a.item_tags_i_a{href: "#"} iOs
          %li.item_tags_i
            %a.item_tags_i_a{href: "#"} Игры
          %li.item_tags_i
            %a.item_tags_i_a{href: "#"} Раннер