- rand = rand(1..1000)
.item
  .item_controls
    %a.ico.__30.__square.__bookmark{href: "#"}
  .m-b_1
    %a.double-hover{href: "/recommendations_show.html##{rand}"}
      %img.item_photo.c-bg.__light{src: "/assets/images/blank.gif", width: 136, height: 136, alt: "Device 6"}
  .m-b_1
    %h3
      %a.double-hover{href: "/recommendations_show.html##{rand}"} Device 6
  %nav
    %ul.item_tags
      %li.item_tags_i
        %a.item_tags_i_a{href: "#"} iPhone
      %li.item_tags_i
        %a.item_tags_i_a{href: "#"} iPad
      %li.item_tags_i
        %a.item_tags_i_a{href: "#"} iOs
      %li.item_tags_i
        %a.item_tags_i_a{href: "#"} Лайфстайл
      %li.item_tags_i
        %a.item_tags_i_a{href: "#"} Новичек