- rand = rand(1..1000)
.item
  .item_controls
    %a.ico.__30.__square.__play{href: "#"}
    %a.ico.__30.__square.__bookmark{href: "#"}
  .m-b_2
    %a.double-hover{href: "/reviews_show.html##{rand}"}
      %img.item_photo.c-bg.__light{src: "/assets/images/blank.gif", width: 214, height: 214, alt: "Акустика Beats Pill"}
  .m-b_1
    %p.tx.__s.__voice 17.01.2014 | Роман Статцев
  .m-b_1
    %h3
      %a.double-hover{href: "/reviews_show.html##{rand}"} Акустика Beats Pill: то, что доктор прописал
  .m-b_2
    %p Бренд Beats в&nbsp;представлении не&nbsp;нуждается. Cекрет его известности кроется в&nbsp;двух факторах.
  %nav
    %ul.item_tags
      %li.item_tags_i
        %a.item_tags_i_a{href: "#"} Акустика
      %li.item_tags_i
        %a.item_tags_i_a{href: "#"} iPhone
      %li.item_tags_i
        %a.item_tags_i_a{href: "#"} iPad
      %li.item_tags_i
        %a.item_tags_i_a{href: "#"} iPod
      %li.item_tags_i
        %a.item_tags_i_a{href: "#"} Техника
      %li.item_tags_i
        %a.item_tags_i_a{href: "#"} Тест
      %li.item_tags_i
        %a.item_tags_i_a{href: "#"} Beats