%ul.share
  %li.share_i
    %a{href: "#"}
      %img{src: "/assets/images/share_twitter.png", alt: ""}
  %li.share_i
    %a{href: "#"}
      %img{src: "/assets/images/share_facebook.png", alt: ""}
  %li.share_i
    %a{href: "#"}
      %img{src: "/assets/images/share_vk.png", alt: ""}