%nav
  %ul._tags
    %li.tags_i
      %a.tags_i_a{href: "#"} iPhone
    %li.tags_i
      %a.tags_i_a{href: "#"} iPad
    %li.tags_i
      %a.tags_i_a{href: "#"} iPod
    %li.tags_i
      %a.tags_i_a{href: "#"} iOs