- rand = rand(1..1000)
.item
  .item_controls
    %a.ico.__30.__square.__play{href: "#"}
    %a.ico.__30.__square.__bookmark{href: "#"}
  .grid
    .grid-i.__grid-5>
      %a.double-hover{href: "/videos_show.html##{rand}"}
        %img.item_photo.c-bg.__light{src: "/assets/images/blank.gif", width: 370, height: 208,  alt: "Портативная акустика Philips черный"}
    .grid-i.__grid-4>
      .m-b_1
        %p.tx.__s.__voice 17.01.2014 | Людмила Орлова
      .m-b_1
        %h3
          %a.double-hover{href: "/videos_show.html##{rand}"} Портативная акустика Philips черный
      .m-b_2
        %p Акустическая док-станция обеспечивает потрясающее звучание с&nbsp;iPod/iPhone/iPad через коннектор Lightning. Благодаря компактным размерам Bluetooth- подключению и&nbsp;аккуму...
      %nav
        %ul.item_tags
          %li.item_tags_i
            %a.item_tags_i_a{href: "#"} Акустика
          %li.item_tags_i
            %a.item_tags_i_a{href: "#"} Аксессуары
          %li.item_tags_i
            %a.item_tags_i_a{href: "#"} iPad Mini
          %li.item_tags_i
            %a.item_tags_i_a{href: "#"} iPhone
          %li.item_tags_i
            %a.item_tags_i_a{href: "#"} iPod
          %li.item_tags_i
            %a.item_tags_i_a{href: "#"} Bluetooth
          %li.item_tags_i
            %a.item_tags_i_a{href: "#"} Аксессуары
          %li.item_tags_i
            %a.item_tags_i_a{href: "#"} Видеообзор