@mixin size($w, $h) {
  width:  #{$w}px;
  height: #{$h}px;
}

.ico {
  display: inline-block;
  background-color: transparent;
  background-repeat: no-repeat;
  &.__square {
    width: 3rem;
    height: 3rem;
    background-color: $border-color;
    @extend .decor;
  }
  &.__18 {
    @include size(18, 18);
    background-image: url(/assets/images/icons/ico-18.png);
    &.__cearch  {background-position: 0 0;}
  }
  &.__30 {
    @include size(30, 30);
    background-image: url(/assets/images/icons/ico-30.png);
    &.__chevron-left  {background-position: 0 0;}
    &.__chevron-right {background-position: -30px 0;}
    &.__bookmark      {background-position: -60px 0;}
    &.__play          {background-position: -90px 0;}

    &.__chevron-left.__active  {background-position: 0 -30px;}
    &.__chevron-right.__active {background-position: -30px -30px;}
    &.__bookmark.__active      {background-position: -60px -30px;}
    &.__play.__active          {background-position: -90px -30px;}

    &.__chevron-left.__white  {background-position: 0 -60px;}
    &.__chevron-right.__white {background-position: -30px -60px;}
    &.__bookmark.__white      {background-position: -60px -60px;}
    &.__play.__white          {background-position: -90px -60px;}
  }
  &.__44 {
    @include size(44, 44);
    background-image: url(/assets/images/icons/ico-44.png);
    &.__clock     {background-position: 0 0;}
    &.__bicycle   {background-position: -44px 0;}
    &.__lightning {background-position: -88px 0;}
    &.__pulse     {background-position: -132px 0;}

    &.__clock.__white     {background-position: 0 -44px;}
    &.__bicycle.__white   {background-position: -44px -44px;}
    &.__lightning.__white {background-position: -88px -44px;}
    &.__pulse.__white     {background-position: -132px -44px;}
  }
}

a.ico {
  &:hover {
    &.__chevron-left  {background-position: 0 -30px;}
    &.__chevron-right {background-position: -30px -30px;}
    &.__bookmark      {background-position: -60px -30px;}
    &.__play          {background-position: -90px -30px;}  

    &.__clock     {background-position: 0 -44px;}
    &.__bicycle   {background-position: -44px -44px;}
    &.__lightning {background-position: -88px -44px;}
    &.__pulse     {background-position: -132px -44px;}
  }
}