//****************************************************************************************************
//
// .. FOOTER
//
//****************************************************************************************************
.footer {
  padding: 54px 30px 40px;
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 18px;

  br.cc {
    display: block;
    float: none;
    clear: both;
    min-height: 0 !important;
    max-height: 0 !important;
    height: 0;
  }

  .w-1-fifth {
    position: relative;
    display: block;
    float: left;
    margin-right: 30px;
    margin-bottom: 40px;
    width: 160px;
  }

  .w-2-fifth {
    position: relative;
    display: block;
    float: left;
    margin-right: 30px;
    width: 350px;
    &.padded {
      padding-left: 40px;
      width: 300px;
    }
  }

  .last {margin-right: 0 !important;}

  ul {
    margin-bottom: 10px;
    margin-left: -2px;
    li {
      &.title {
        color: #000;
        white-space: nowrap;
        line-height: 16px;
      }
      a {
        color: #5a5a5a;
        white-space: nowrap;
        line-height: 15px;
      }
    }
  }

  .mnogoru {
    display: block;
    margin-left: 102px;
    width: 87px;
    height: 27px;
    background: url(http://www.re-store.ru/bitrix/templates/restore/images/ui/logo_mnogoru.png) 0 0 no-repeat;
  }

  .akit {
    display: block;
    margin-top: 10px;
    margin-left: 102px;
    width: 106px;
    height: 55px;
  }

  .left {
    float: left !important;
    margin-left: -2px;
    p {text-align: left;}
  }
  .right {
    float: right !important;
    margin-right: -2px;
    p {
      text-align: right;
      &:last-child {
        padding-top: 1px;
      }
    }
  }

  p {
    margin-bottom: 10px;
    color: #000;
    font-weight: 400;
    font-size: 11px;
    line-height: 17px;
  }

  a {
    color: #E1207C;
    text-decoration: underline;
  }

}