.item-current
  %a{href: "#"}
    %img.item-current_img.c-bg.__dark{src: "/assets/images/blank.gif", width: "100%", alt: "Say the same things"}
  %p.item-current_name
    %a{href: "#"} iLuv Sound Cubes iSP160
  %p.item-current_model P9BLK/10
  %a.form-el.__btn.__small.__minor.__block.m-b_2{href: "#"} Купить за 13 990 руб.
  %p.item-current_credit
    %a.tx.__minor{href: "#"} Оформить в кредит
    %br
    за 6199 руб./мес.