- rand = rand(1..1000)
.item
  = Haml::Engine.new(File.read('views/common/friends/_action_controls.haml')).render
  .grid
    .grid-i.__grid-3>
      %a.double-hover{href: "/friends_contests_show.html##{rand}"}
        %img.item_photo.c-bg.__light{src: "/assets/images/blank.gif", width: 214, height: 180, alt: "Конкурс плакатов: Adobe понял и простил"}
    .grid-i.__grid-6>
      .m-b_1
        %h3
          %a.double-hover{href: "/friends_contests_show.html##{rand}"} Конкурс плакатов: Adobe понял и&nbsp;простил
      .m-b_1
        %p.tx.__l 
          Призовой фонд: 
          %mark.tx.__mark 250 000 рублей
        %p.tx.__l 
          Прием работ: 
          %mark.tx.__mark 5&nbsp;&mdash; 25&nbsp;апреля
      .m-b_2
        %p Adobe Systems предлагает принять участие в&nbsp;креативном конкурсе на&nbsp;лучший плакат, посвященный амнистии компьютерных пиратов, либо социальной тематике о&nbsp;важности борьбы с&nbsp;интеллектуальным пиратством в&nbsp;сфере&nbsp;ПО.
      .item_btns
        %a.form-el.__btn.__small.__default{href: "/friends_contests_show.html"} Узнать подробнее