.item-current
  %a{href: "#"}
    %img.item-current_img.c-bg.__dark{src: "/assets/images/blank.gif", width: "100%", alt: "Say the same things"}
  %p.item-current_name
    %a{href: "#"} Say the same things
  %p.item-current_raty 
    Рейтинг:
    %span.raty{data: {score: "#{rand(0.1..5.0)}"}}  
  %p.item-current_price Стоимость: Бесплатно
  %a{href: "#"} 
    %img{src: "/assets/images/friends/appstore.png", width: "100%", alt: "AppStore"}