.item
  .m-b_2
    %img.item_photo.c-bg.__light{src: "/assets/images/blank.gif", width: 214, height: 214, alt: "iPhone"}
  .m-b_2
    %p.tx.__s.__muted Топ-5 вопросов об iPhone:
  %nav
    %ol.item_links
      %li.item_links_i
        %a.item_links_i_a{href: "#"} iPhone с&nbsp;дисплеем из&nbsp;сапфирового стекла проходит первые тесты
      %li.item_links_i
        %a.item_links_i_a{href: "#"} LTE от&nbsp;&laquo;Мегафона&raquo; заработал в&nbsp;iPhone 5s&nbsp;и&nbsp;iPhone&nbsp;5c
      %li.item_links_i
        %a.item_links_i_a{href: "#"} Apple продала 55&nbsp;миллионов iPhone за&nbsp;прошлый квартал
      %li.item_links_i
        %a.item_links_i_a{href: "#"} iPhone 5c&nbsp;смогут починить прямо в&nbsp;Apple Store
      %li.item_links_i
        %a.item_links_i_a{href: "#"} Каким образом Apple собирается увеличить экран iPhone?
    %p
      %a.goto{href: "#"} Все вопросы об iPhone (94)